/** to display profile information**/
#info
{	
	background-color:#FFFFFF;
	width:auto;
	height:auto;
	
}	
#info img
{	margin-top:0px;
	height:270px;
	width:190px;
	margin-right:120px;
	box-shadow:0px 0px 10px 0px #B3B3FF;
}
.right
{
	float:right;
}
.left
{
	float:left;
}
.center
{
	float:center;
}
.profile
{
margin-left:50px;
	color:black;
	font-weight:bold;
}

